# Virtual environments
.venv

# Python bytecode
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Model and checkpoint files
saved_models/
checkpoints*
*tensorboard*

# Archives
*.zip
!ppo_4_dino_280000_steps.zip

# Dino game assets
t-rex-runner/